body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    text-align: center;
}

#password-game {
    max-width: 600px;
    margin: 0 auto;
}

#result.alert {
    display: inline-block;
    width: 50%;
}

#hints {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
    line-height: 1.5;
}
